@font-face {
  font-family: 'PretendardVariable';
  font-style: normal;
  src: url('./fonts/PretendardVariable.ttf') format('ttf');
}
@font-face {
  font-family: 'PyeongChangPeace-Light';
  font-style: normal;
  src: url('./fonts/PyeongChangPeace-Light.ttf') format('woff2');
}
