@import '@styles/_colors.scss';

.bgm {
  &-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    background-color: white;
    border-radius: 15px;
    width: 81%;
    height: 80vh;
    padding: 4vh 5vh;
    padding-bottom: 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $GRAY-61;
      font-size: 2.7vh;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &-list {
    height: 57vh;
    margin: 0 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      width: 100%;
      padding: 1vh 2vh;
      margin: 1vh 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #00000019;
      border-radius: 15px;
      cursor: pointer;
      color: black;

      &-title {
        font-size: 2.3vh;
        margin-left: 1vh;
      }

      &-selected {
        border: 1px solid $BLUE;
        background-color: $BLUE;
        color: white;
      }

      &-disabled {
        background-color: rgba(0, 0, 0, 0.25);
      }

      &-play {
        width: 15%;
      }
    }
  }
}
