@media (max-device-aspect-ratio: 9 / 16) {
  #bottomBar {
    width: 100vw;
  }
}

@media (min-device-aspect-ratio: 9 / 16) {
  #bottomBar {
    width: 56.25vh;
  }
}

#bottomBar {
  display: fixed;
  background-color: rgba($color: grey, $alpha: 0.3);
  .icon {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    &-each {
      width: 15%;
      opacity: 40%;
      cursor: pointer;
    }
    &-selected {
      opacity: 100%;
    }
  }
}
