.bottomBar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-icon {
    flex: 1;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    cursor: pointer;

    &-each {
      width: 25%;
      opacity: 40%;
    }

    &-selected {
      opacity: 100%;
    }
  }
}
