@import '@styles/_colors.scss';

.bgm {
  &-modal {
    width: 70%;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-list {
    height: 48vh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-item {
    width: 100%;
    padding: 1vh 2vh;
    margin: 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a07dff32;
    border-radius: 15px;
    cursor: pointer;
  }

  &-selected {
    background-color: $PURPLE;
  }

  &-play {
    width: 15%;
  }
}

.info-modal {
  &-content {
    word-break: break-all;
  }
}

.sub-title {
  font-size: 120%;
}

.bold {
  font-weight: bold;
}

.paragraph {
  line-height: 150%;
}
