@import '@/styles/_colors.scss';

.checkbox {
  &-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;

    color: white;
  }
}

#checkbox-input {
  margin-left: 1rem;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  border: 1px solid $PURPLE;
  cursor: pointer;
  appearance: none;
  transition: background 0.5s;

  &:checked {
    background: $PURPLE;
    border: none;
  }
}
