.content {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-text {
  width: 100%;
  font-size: 2.5vh;
}

.content-image {
  margin: auto;
  max-height: 80%;
  max-width: 100%;
}

.content-video {
  margin: auto;
  max-height: 80%;
  max-width: 100%;
}

.content-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
