.music-player-container {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.track-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-btn {
  cursor: pointer;
}

.track {
  width: 90%;
  height: 40%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to right, #b49aff, #001459);
}

.track-input {
  width: 100%;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
  &:focus {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
  }

  &::-webkit-slider-thumb {
    height: 2vh;
    width: 1vw;
    background: transparent;
    border: none;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
  }
}

.time-container {
  width: 97%;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
