@import '@styles/_colors.scss';

.toggle {
  &-container {
    width: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &-label {
    font-size: 2.3vh;
    color: $WHITE;
    cursor: pointer;
  }

  &-background {
    position: relative;
    display: inline-block;
    width: 7.5vh;
    height: 3.5vh;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &-circle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $GRAY-BF;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: 1px 1px 3px #4040404b;

    &::before {
      position: absolute;
      content: '';
      margin-bottom: 0;
      height: 2.6vh;
      width: 2.6vh;
      left: 0.45vh;
      top: 0.45vh;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
    }
  }
}

input:checked + .toggle-circle {
  background-color: $BLUE;
}

input:focus + .toggle-circle {
  box-shadow: 0 0 1px $BLUE;
}

input:checked + .toggle-circle:before {
  -webkit-transform: translateX(4vh);
  -ms-transform: translateX(4vh);
  transform: translateX(4vh);
}
