.message {
  box-sizing: border-box;
  // flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin-top: 2%;

  &-emoji {
    img {
      width: 10vh;
    }
  }
  &-container {
    box-sizing: border-box;
    width: 100%;
    p {
      margin: 0;
    }
  }
}

@media (max-device-aspect-ratio: 9 / 16) {
  .message {
    height: 10vh;
    width: 100vw;
  }
  .message-container {
    width: 100vw;
  }
}

@media (min-device-aspect-ratio: 9 / 16) {
  .message {
    height: 100vh;
    width: 56vh;
  }
}
