@import '@styles/_colors.scss';

.myMessage {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: white;
  margin-top: 3%;
  margin-bottom: 4%;
  height: 12vh;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: $GRAY-BF;
  }

  &-emoji {
    display: flex;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
    img {
      // width: 150%;
      height: 80%;
      margin-left: 30%;
    }
  }
  &-container {
    flex-basis: 100rem;
    margin-left: 8%;

    &-title {
      display: block;
      font-weight: 1000;
      font-size: 2.5vh;
      margin-bottom: 2vh;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-date {
      font-size: 2vh;
    }
    &-like {
      // width: 100%;
      font-size: 2vh;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      // margin: 3%;
      margin-bottom: 2vh;
      padding-right: 1vw;
      margin-right: 3%;
      &-heart {
        // fill: red;
        margin-right: 10%;
        height: 26%;
      }
      // img {
      //   fill: red;
      //   margin-right: 3px;
      //   height: 26%;
      // }
    }
  }
}
