@import '@styles/_colors.scss';

#move-to-back {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.move-to-back-icon:hover {
  fill: $GRAY-BF;
}

#open-help {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 10px;
  cursor: pointer;

  :hover {
    fill: $GRAY-BF;
  }
}

#bgm-btn {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 12px;
}

.main-bgm {
  &-title {
    margin-top: 2.5px;
    font-size: 2.5vh;
    margin-right: 2vw;
    cursor: pointer;
  }
  &-button {
    cursor: pointer;

    &:hover {
      fill: $GRAY-BF;
    }
  }
}

.help {
  &-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    align-items: center;
  }

  &-img {
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 2vh;
    border-radius: 15px;
  }

  &-cancel:hover {
    cursor: pointer;
    fill: black;
  }
}

#menu {
  top: 15px;
  right: 15px;
  width: 20vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 150;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.button {
  width: 100%;
  cursor: pointer;
  padding: 1.75vh 0;
  text-align: center;
  font-size: 2vh;

  &:hover {
    background-color: aliceblue;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4.5vh;

  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 9999px;
  z-index: 1000;
  color: black;

  &-title {
    font-size: 3vh;
    font-weight: 700;
    margin: 0;
  }

  &-message {
    font-size: 2.5vh;
    line-height: 3.5vh;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    margin: 3vh;
  }

  &-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &-textarea {
    margin: 1.5vh 1vh;
    padding: 1vh;
    font-size: 2vh;
    word-break: break-all;
    line-height: 3vh;
    background-color: transparent;
    text-align: center;
    resize: none;
    overflow: hidden;
    border: 1px solid $GRAY-BF;
    border-radius: 15px;
  }
}

.white {
  color: white;
}

#foreground {
  position: absolute;
  z-index: 1000;
  top: 10px;
  cursor: pointer !important;
  opacity: 75%;
}

.foreground-container {
  display: flex;
  justify-content: center;
  position: relative;
}

@media (max-device-aspect-ratio: 9 / 16) {
  #foreground {
    width: 96vw;
  }
}

@media (min-device-aspect-ratio: 9 / 16) {
  #foreground {
    width: 50vh;
  }
}
