.clickmarker-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  &-title {
    font-weight: 700;
    font-size: 2vh;
    margin-top: 3%;
  }

  &-content {
    font-size: 1.75vh;
    margin: 5% 0;
    text-align: center;
  }

  &-btn {
    font-size: 1.75vh;
  }
}
