#intro {
  // background-color: black;
  height: 100vh;
  display: flex;
  // margin-top: 10%;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  .introLogo {
    margin-top: 10%;
  }
}
