.map {
  &-navbar {
    background-color: white;
    box-shadow: none;
    border: 1.7px solid rgba(0, 0, 0, 0.35);

    &-a {
      cursor: pointer;
    }

    &-span {
      font-size: 0.9rem;
    }
  }

  &-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}
