.map {
  &-random {
    padding: 1.5vh;
    font-size: 2vh;
    white-space: pre;
    text-align: center;
    background-color: white !important;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f4f4f4 !important;
    }
  }

  &-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}
