@import '@styles/_colors.scss';

.message-create {
  &-card {
    height: 63vh;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    width: 100%;
    font-size: 4vh;
    font-weight: 700;
    background-color: transparent;
    color: $WHITE;
    padding: 0;

    &::placeholder {
      color: $GRAY-DB;
      font-size: 3vh;
    }
  }

  &-save {
    &-container {
      width: 95%;
      height: 4vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-btn {
      width: 2.5em;
      height: 2.5em;
      cursor: pointer;
      background-color: $WHITE;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      box-shadow: 1px 1px 3px #4040404b;
      border: 0;
      // width: 38px;
      // height: 38px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $BLUE;
        fill: white;
      }
      &-icon {
        // width: 50px;
        fill: gray;
        // width: 2.5em;
        // height: 2.5em;
      }
    }
  }
}

input,
textarea {
  border: 0;
  text-align: center;
  resize: none;
  outline: none;
}
