@import '@styles/_colors.scss';

.message-create {
  &-container {
    padding: 4% 0;
  }

  &-header {
    position: absolute;
    left: 6%;
    top: 4%;
    z-index: 2;
  }

  &-card {
    height: 67.5%;
    width: 85%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    width: 100%;
    font-size: 4vh;
    font-weight: 700;
    background-color: transparent;
    color: $WHITE;
  }

  &-save-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

input,
textarea {
  border: 0;
  text-align: center;
  resize: none;
  outline: none;
}
