// 1 ~ 5시
.background0 {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
// 6 ~ 10시
.background1 {
  background: linear-gradient(
    45deg,
    rgb(181, 255, 255) 10%,
    skyblue 60%,
    deepskyblue
  );
}

// 11 ~ 16시
.background2 {
  background: rgb(68, 161, 162);
  background: linear-gradient(
    29deg,
    rgba(68, 161, 162, 1) 6%,
    rgba(185, 160, 108, 1) 97%
  );
}

// 17 ~ 20시
.background3 {
  background: rgb(162, 110, 68);
  background: linear-gradient(
    29deg,
    rgba(162, 110, 68, 1) 6%,
    rgba(185, 108, 183, 1) 97%
  );
}

// 21 ~ 24시
.background4 {
  background: rgb(2, 0, 43);
  background: linear-gradient(
    30deg,
    rgba(2, 0, 43, 1) 8%,
    rgb(35, 60, 105) 45%,
    rgba(0, 16, 135, 1) 76%,
    rgba(2, 13, 106, 0.935) 100%
  );
}

.ignore {
  width: 100%;
}

#message-detail-nav-more {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
