.card {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  // flex-wrap: wrap;
  background-color: white;
  width: 20vw;
  height: 20vw;
  border: 1px solid black;
  border-radius: 10%;
}
.like {
  position: relative;
}

.content {
  display: block;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  line-height: 160%;
  // padding-top: auto;
  // padding-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 15vw;
  height: 15vw;
}
.center {
  text-align: center;
}
.date {
  margin-bottom: 100px;
  font-size: 12px;
}
