@font-face {
  font-family: 'PretendardVariable';
  font-style: normal;
  src: url('./styles/fonts/PretendardVariable.ttf') format('truetype');
}
@font-face {
  font-family: 'PyeongChangPeace-Light';
  font-style: normal;
  src: url('./styles/fonts/PyeongChangPeace-Light.ttf') format('truetype');
}

@media (max-device-aspect-ratio: 9 / 16) {
  .container {
    height: 100vh;
    width: 100vw;
  }
}

@media (min-device-aspect-ratio: 9 / 16) {
  .container {
    height: 100vh;
    width: 56.25vh;
  }
}

* {
  box-sizing: border-box;
  font-family: 'PretendardVariable';
  font-weight: 500;
}
