a {
  text-decoration: none;
}

.googleLogin {
  display: flex;
  justify-content: center;
  background-color: white;
  // opacity: 0.95;
  width: 20vh;
  height: 5.5vh;
  margin-top: 2vh;
  border-radius: 50px;
  box-shadow: inset -2px -2px 2px #4747477b;

  &-text {
    font-size: 2vh;
    font-family: 'PyeongChangPeace-Light';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
  }
  img {
    margin: 6%;
    margin-right: 10%;
    margin-left: -5%;
  }
}
